html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: sans-serif;
    color: inherit;
    text-align: inherit;
    text-decoration: inherit;
    vertical-align: inherit;
    box-sizing: inherit;
    background: transparent;
    list-style: none;
}

/* Clock */

.clock {
    font-size: 45px;
    color: white;
    font-family: Allerta Stencil;
    width: 550px;
    height: 94px;
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 10px;
    background-color: olivedrab;
    background-size: cover;
    background-position-y: 20%;
    border-radius: 5px;
}

.clock p {
    margin: 12px;
    display: flex;
    justify-content: space-between;
    margin-top: -11px; 
}

/* Weather */

.weather {
    font-size: 28px;
    width:550px;
    height: 94px;
    border: 2px solid black;
    margin: 0 20px 20px 20px;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 25px;
    color: white;
    font-size: 50px;
}

.weather p {
    margin: -10px;
}

.loading {
    margin-top: 10px;
}

/* Tabs */

.tab-header {
    width: 200px;
    height: 30px;
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    font-family: Oxanium;
}

.tab-header > li {
    width: 65px;
    border-top: 2px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 4px;
    text-align: center;
    cursor: pointer;
    background-color: yellow;
}

.tab-header > li:first-child {
    border-left: 2px solid black;
}

.tab-header > li:last-child {
    border-right: 2px solid black;
}

.tab-header > li:hover {
    background-color: red;
    color: white;
}

.active {
    font-weight: bold;
    font-size: 20px;
}

.tabs {
    width: 240px;
    height: 200px;
}

.tab-content {
    font-weight: bold;
    color: white;
    height: 192px;
    margin: 0 20px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Oxanium;
    background: teal;
}

.tab-content {
    text-align: center;
}

body {
    display: flex;
    justify-content: space-around;
}

.interactive {
    display: flex;
    justify-content: space-around;
}